<?xml version="1.0" encoding="UTF-8"?>
    <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
            id="it.y3web.cordova.documentinteraction" version="0.2.3">
        <name>StringBean DocumentInteraction</name>
        <description>Cordova DocumentInteraction Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,documentinteraction</keywords>
        <js-module src="www/document_interaction.js" name="docu_inter">
            <clobbers target="docu" />
        </js-module>
        <platform name="ios">
            <config-file target="config.xml" parent="/*">
                <feature name="DocumentInteraction">
                    <param name="ios-package" value="DocumentInteraction"/>
                </feature>
            </config-file>
            <header-file src="src/ios/DocumentInteraction.h" />
            <source-file src="src/ios/DocumentInteraction.m" />
        </platform>
    </plugin>